.card:hover{
    cursor: pointer;
    }
    input{
        width: 140px;
    }
    
    @media  print {
        .etat, .action, .col-lg-3, .md-form, .head,  .col-md-6 {
            visibility: hidden;
        }
    }